@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  

  .z-50 {
    z-index: 50;
  }

.hide-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
.hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFF1F2;
}

::-webkit-scrollbar-thumb {
  background: #F9A8D4;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F472B6;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #F9A8D4 #FFF1F2;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}